<div class='container clear'>
  <div class='component-float'>
    <div class='component-wrapper'>
      <div class='action-comp'>
        <div class='action-comp-wrapper'>
          <h4>Select an Action:</h4>
          <select class='form-control'>
            <option>
              Execute Command
            </option>
            <option>
              Derp
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class='component-wrapper'>
      <div class='command-comp'>
        <div class='command-comp-header'>
          <h4>Execute Command</h4>
        </div>
        <div class='command-comp-body'>
          <div class='comp-body-wrap'>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Command</span>
              <input type="text" class="form-control" placeholder="ls -l" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class='command-comp-footer'>
          <div class='button-wrap'>
            <button id='execute-action' class='btn btn-primary'>Execute</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='component-wrapper' id='servers'>
  </div>
</div>

<script src='/javascripts/app.js' type="text/babel"></script>
