<div class='container clear'>
  <div class='component-float'>
    <div class='component-wrapper'>
      <div class='action-comp'>
        <div class='action-comp-wrapper'>
          <h4>Select an Action:</h4>
          <select class='form-control'>
            <option>
              Execute Command
            </option>
            <option>
              Derp
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class='component-wrapper' id='action'>
    </div>

    <div class='component-wrapper' id='status'>
      <div class='component-header'>
        <div class='component-name'>
          Server Status
        </div>
      </div>
      <div class='component-body'>
        <table class='table table-striped'>
          <tr>
            <td>
              Servername
            </td>
            <td>
              Status
            </td>
            <td>
              Command
            </td>
          </tr>
          <tr>
            <td>
              Servername
            </td>
            <td>
              Status
            </td>
            <td>
              Command
            </td>
          </tr>
          <tr>
            <td>
              Servername
            </td>
            <td>
              Status
            </td>
            <td>
              Command
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class='component-wrapper' id='servers'>
  </div>
</div>
