<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.min.js'></script>
    <!-- <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  </head>
  <body>
    <header>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-3'>
            <h2 class='logo'>
              <a class='no-style' href='/'>Server Panel</a>
            </h2>
          </div>
          {{#if session.user}}
          <div class='col-lg-4 pull-right'>
            <ul id='nav'>
              <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/">Server Action</a></li>
                      <li><a href="/history">Server History</a></li>
                      <li><a href="/manager">Add Server</a></li>
                      <li><a href="/scriptor">Create Script</a></li>
                      <li><a href="/status">Server Status</a></li>
                    </ul>
                  </div>
              </li>
              <li><a href='/users/logout'><button class='btn btn-primary'>Logout</button></a></li>
              <li><div class='user'>
                {{session.user.username}}
              </div></li>
            </ul>
          </div>

          {{else}}
          <div class='col-lg-3 pull-right'>
            <h3 class='pull-right'>Log In</h3>
          </div>
          {{/if}}
        </div>
      </div>
    </header>
    {{{body}}}
      <div class='log-layover'>
        <div class='log-wrap'>
          <div class='log-header'>
            <h3 id='log-server'>Server Output</h3>
            <div class='pull-left' id='log-cmd'></div> <div id='log-date' class='pull-right'></div>
          </div>
          <div class='log-handleoverflow'>
            <div class='log-text-container'>
              <div class='log-text' id='log-output'>
              </div>
            </div>
          </div>
          <div class='log-footer'>
            <div class='button-wrap'>
              <button class='btn btn-primary' id='log-close'>Close Log</button>
            </div>
          </div>
        </div>
      </div>
    <script src='/javascripts/app.js' type="text/babel"></script>
  </body>
</html>
