<div class='container'>
  <div class='row User-Login'>
    <div class='col-lg-offset-4 col-lg-4' id='User-Login'>
      <form action='/users/login' method='POST'>
        <label for='loginUsername'>Username:</label>
        <input type='text' class='form-control' id='loginUsername' name='username'>
        <label for='loginPassword'>Password:</label>
        <input type='password' class='form-control' id='loginPassword' name='password'>
        <br>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</div>
