<div class='container'>
  <div class="component-wrapper" id='select-script'>
  </div>
  
  <div class='component-wrapper' id='script-maker'>
    <div class='component-header'>
      <div class='component-name'>
        Create Script
      </div>
    </div>
    <div class='component-body'>

    </div>
  </div>
  <div class='component-wrapper' id='action-selector'>
  </div>

  <div class='component-wrapper' id='action'>
  </div>
</div>
