<div class='container'>
  <div class="component-wrapper" id='select-script'>
  </div>

  <div class='component-wrapper' id='script-maker'>
  </div>
  
  <div class='component-wrapper' id='action-selector'>
  </div>

  <div class='component-wrapper' id='action'>
  </div>
</div>
