/*********************** VARIABLES ***********************/
@grey: rgb(61, 64, 74);
@green: rgb(123, 219, 132);

/*********************** GENERAL ***********************/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/pattern.png') repeat;
  color: white !important;
}

a {
  color: #00B7FF;
}


.log-layover {
  display: none;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 300px;
  position: absolute;
  background: white;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
  color: black;
}

.log-text {
  padding: 7px;
}

.log-header {
  text-align: center;
}

.log-handleoverflow {
  margin-top: 28px;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.log-text-container {
  background: rgb(228, 228, 228);
  border: 1px solid rgb(210, 206, 210);
  width: 100%;
}

.log-wrap {
  position: relative;
  padding: 10px;
  height: 96%;
}

.log-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#log-close {
  margin: 0 auto;
  width: 100%;
}


.category-add {

}

.history-header {
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
  margin: 0 auto;
  width: 100%;
  background: white;
  height: 50px;
}

.history-text {
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: black;
}
.server-output {
  width: 400px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}
.log {
  padding: 10px;
}

.log-container {
  display: none;
  position: relative;
}

.server-log {
  color: rgb(80, 91, 168);
}

#manager-submit {
  margin-top: 10px;
}

.managerForm {
  width: 25%;
  margin-bottom: 30px;
}

.FormLabel {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.server-manager {
  width: 100%;
  background: white;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
  padding: 10px;
  margin-bottom: 30px;
}

.category-remove {
  float: right;
  color: red;
  font-size: 18px;
  line-height: 30px;
  margin-right: 10px;
}

.category-remove:active {
  color: rgb(245, 170, 5);
}

.active-item {
  background-color: @green !important;
}

.clear {
  clear: both;
}

.button-wrap {
  width: 50%;
  margin: 0 auto;
}

header {
  height: 60px;
  width: 100%;
  background: @grey;
}

.component-float {
  float: left;
  width: 72%;
}

.comp-body-wrap {
  padding: 10px;
}
/****** USER COMPONENTS *******/

.User-Login {
  margin-top: 10%;
}

#User-Login {
  color: black;
  background: white;
  padding: 20px;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}

/****** Server Components *****/

.component-wrapper {
  margin-top: 25px;
  color: black;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}


.servers-comp {
  float: right;
  background: white;
  width: 25%;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}

.servers-comp-wrapper {
  padding: 0px;
}

.servers-comp-header {
  text-align: center;
  border-bottom: 1px solid @grey;
}

.servers-comp-footer {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid @grey;
}

.component {
}

.component-header {
  height: 40px;
  width: 100%;
  background-color: @grey;
}

.component-name {
  color: white;
  line-height: 40px;
  font-size: 20px;
  margin-left: 10px;
}

.component-body {
  background: white;
  width: 100%;
  position: relative;
  min-height: 50px;
}

.component-footer {
  width: 100%;
  border-top: 1px solid @grey;
  padding: 10px;
  background: white;
}


/*********************** SERVER LIST ***********************/

.servers-comp-serverlist {
  margin-top: 10px;
  color: black;
}

.serverlist-category {
  width: 100%;
}

.serverlist-header {
  color: white;
  background: linear-gradient(rgb(107, 107, 107), @grey);
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.serverlist-header:active {
}

.serverlist-items {

}

.serverlist-item {
  background: rgb(236, 236, 236);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
}


/*********************** ACTION COMPONENT ***********************/

.action-comp {
  width: 100%;
  background: white;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}

.action-comp-wrapper {
  padding: 10px;
}

/*********************** COMMAND COMPONENT ***********************/

.command-comp {
  margin-top: 20px;
  width: 100%;
  background: white;
  box-shadow: 1px 1px 3px rgb(148, 148, 148);
}

.command-comp-header {
  background: @grey;
  height: 40px;
  color: white;
}

#execute-action {
  margin: 0 auto;
  width: 100%;
}


/************* NAV ***********/

#nav {
  list-style: none;
}

#nav li {
  margin-top: 12px;
  margin-left: 10px;
  width: 75px;
  float: left;
}

.user {
  font-size: 30px;
}
